/*DEVELOPER: Karl Giannoglou, IS117-004, Sprint, 2019 */
body {
  margin:0px;
  background-image:url('../../images/index/bg.png');
  background-position:left top;
  background-repeat:no-repeat;
  background-attachment:fixed;
  background-size:cover;
  position:static;
  left:auto;
  width:809px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}


.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: aliceblue;
  color: white;
  text-align: center;
  padding: 10px;
  font-size: 0.5rem;
}


#base {
  position:absolute;
  z-index:0;
}
#u35_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:427px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u35 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:93px;
  width:427px;
  height:37px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u35_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:427px;
  white-space:nowrap;
}
#u36 {
  border-width:0px;
  position:absolute;
  left:86px;
  top:28px;
  width:700px;
  height:29px;
}
#u36_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  height:29px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u37 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  height:29px;
}
#u38_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:29px;
}
#u38 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:29px;
}
#u38_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u39_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:29px;
}
#u39 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:0px;
  width:100px;
  height:29px;
}
#u39_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u40_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:29px;
}
#u40 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:0px;
  width:100px;
  height:29px;
}
#u40_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u41_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:29px;
}
#u41 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:0px;
  width:100px;
  height:29px;
}
#u41_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u42_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:29px;
}
#u42 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:0px;
  width:100px;
  height:29px;
}
#u42_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u43_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:29px;
}
#u43 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:0px;
  width:100px;
  height:29px;
}
#u43_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u44_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:29px;
}
#u44 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:0px;
  width:100px;
  height:29px;
}
#u44_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u45 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:29px;
  width:100px;
  height:87px;
  visibility:hidden;
}
#u45_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:87px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u46 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:87px;
}
#u47_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:29px;
}
#u47 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:29px;
}
#u47_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u48_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:29px;
}
#u48 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:29px;
  width:100px;
  height:29px;
}
#u48_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u49_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:29px;
}
#u49 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:58px;
  width:100px;
  height:29px;
}
#u49_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u50_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:349px;
  height:215px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u50 {
  border-width:0px;
  position:absolute;
  left:53px;
  top:204px;
  width:349px;
  height:215px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u50_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:345px;
  word-wrap:break-word;
}
#u51_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:395px;
}
#u51 {
  border-width:0px;
  position:absolute;
  left:509px;
  top:169px;
  width:300px;
  height:395px;
}
#u51_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
