body {
  margin:0px;
  background-image:url('../../images/index/bg.png');
  background-position:left top;
  background-repeat:no-repeat;
  background-attachment:fixed;
  background-size:cover;
  position:static;
  left:auto;
  width:907px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: aliceblue;
  color: white;
  text-align: center;
  padding: 10px;
  font-size: 0.5rem;
}


#base {
  position:absolute;
  z-index:0;
}
#u125_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u125 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:73px;
  width:354px;
  height:37px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u125_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  white-space:nowrap;
}
#u126_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:538px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u126 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:208px;
  width:538px;
  height:29px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u126_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:538px;
  white-space:nowrap;
}
#u127_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u127 {
  border-width:0px;
  position:absolute;
  left:316px;
  top:257px;
  width:140px;
  height:40px;
}
#u127_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u128 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:257px;
  width:300px;
  height:170px;
}
#u128_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u129_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:458px;
  height:93px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u129 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:526px;
  width:458px;
  height:93px;
  font-size:20px;
}
#u129_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:458px;
  word-wrap:break-word;
}
#u130_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u130 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:487px;
  width:227px;
  height:29px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u130_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  white-space:nowrap;
}
#u131_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:488px;
  height:113px;
}
#u131 {
  border-width:0px;
  position:absolute;
  left:419px;
  top:73px;
  width:488px;
  height:113px;
}
#u131_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u132_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u132 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:129px;
  width:315px;
  height:58px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u132_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  word-wrap:break-word;
}
#u133 {
  border-width:0px;
  position:absolute;
  left:86px;
  top:25px;
  width:700px;
  height:29px;
}
#u133_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  height:29px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u134 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  height:29px;
}
#u135_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:29px;
}
#u135 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:29px;
}
#u135_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u136_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:29px;
}
#u136 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:0px;
  width:100px;
  height:29px;
}
#u136_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u137_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:29px;
}
#u137 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:0px;
  width:100px;
  height:29px;
}
#u137_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u138_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:29px;
}
#u138 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:0px;
  width:100px;
  height:29px;
}
#u138_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u139_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:29px;
}
#u139 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:0px;
  width:100px;
  height:29px;
}
#u139_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u140_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:29px;
}
#u140 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:0px;
  width:100px;
  height:29px;
}
#u140_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u141_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:29px;
}
#u141 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:0px;
  width:100px;
  height:29px;
}
#u141_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u142 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:29px;
  width:100px;
  height:87px;
  visibility:hidden;
}
#u142_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:87px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u143 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:87px;
}
#u144_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:29px;
}
#u144 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:29px;
}
#u144_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u145_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:29px;
}
#u145 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:29px;
  width:100px;
  height:29px;
}
#u145_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u146_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:29px;
}
#u146 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:58px;
  width:100px;
  height:29px;
}
#u146_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
