/*DEVELOPER: Karl Giannoglou, IS117-004, Sprint, 2019 */
body {
  margin:0px;
  background-image:url('../../images/index/bg.png');
  background-position:left top;
  background-repeat:no-repeat;
  background-attachment:fixed;
  background-size:cover;
  position:static;
  left:auto;
  width:881px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}


.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: aliceblue;
  color: white;
  text-align: center;
  padding: 10px;
  font-size: 0.5rem;
}


#base {
  position:absolute;
  z-index:0;
}
#u147_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u147 {
  border-width:0px;
  position:absolute;
  left:248px;
  top:184px;
  width:140px;
  height:40px;
}
#u147_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u148_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u148 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:184px;
  width:95px;
  height:29px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u148_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  white-space:nowrap;
}
#u149_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u149 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:80px;
  width:231px;
  height:37px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u149_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  white-space:nowrap;
}
#u150_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:115px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u150 {
  border-width:0px;
  position:absolute;
  left:117px;
  top:158px;
  width:121px;
  height:115px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u150_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  word-wrap:break-word;
}
#u151_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u151 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:311px;
  width:85px;
  height:29px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u151_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u152_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:115px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u152 {
  border-width:0px;
  position:absolute;
  left:117px;
  top:287px;
  width:121px;
  height:115px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u152_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  word-wrap:break-word;
}
#u153_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u153 {
  border-width:0px;
  position:absolute;
  left:248px;
  top:306px;
  width:140px;
  height:40px;
}
#u153_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u154_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u154 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:423px;
  width:105px;
  height:29px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u154_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u155_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:134px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u155 {
  border-width:0px;
  position:absolute;
  left:117px;
  top:421px;
  width:126px;
  height:134px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u155_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  word-wrap:break-word;
}
#u156_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u156 {
  border-width:0px;
  position:absolute;
  left:248px;
  top:436px;
  width:140px;
  height:40px;
}
#u156_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u157_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:466px;
  height:229px;
}
#u157 {
  border-width:0px;
  position:absolute;
  left:415px;
  top:184px;
  width:466px;
  height:229px;
}
#u157_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u158 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:25px;
  width:700px;
  height:29px;
}
#u158_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  height:29px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u159 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  height:29px;
}
#u160_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:29px;
}
#u160 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:29px;
}
#u160_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u161_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:29px;
}
#u161 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:0px;
  width:100px;
  height:29px;
}
#u161_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u162_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:29px;
}
#u162 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:0px;
  width:100px;
  height:29px;
}
#u162_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u163_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:29px;
}
#u163 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:0px;
  width:100px;
  height:29px;
}
#u163_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u164_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:29px;
}
#u164 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:0px;
  width:100px;
  height:29px;
}
#u164_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u165_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:29px;
}
#u165 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:0px;
  width:100px;
  height:29px;
}
#u165_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u166_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:29px;
}
#u166 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:0px;
  width:100px;
  height:29px;
}
#u166_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u167 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:29px;
  width:100px;
  height:87px;
  visibility:hidden;
}
#u167_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:87px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u168 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:87px;
}
#u169_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:29px;
}
#u169 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:29px;
}
#u169_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u170_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:29px;
}
#u170 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:29px;
  width:100px;
  height:29px;
}
#u170_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u171_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:29px;
}
#u171 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:58px;
  width:100px;
  height:29px;
}
#u171_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
